<div class="wrapper">
  <h1>РЕКОМНДАЦИИ СПЕЦИАЛИСТОВ</h1>
  <mat-form-field>
    <input #course matInput type="number" placeholder="Курс" value="1" />
  </mat-form-field>
  <mat-form-field>
    <input #semester matInput type="number" placeholder="Семестр" value="1" />
  </mat-form-field>
  <button
    mat-button
    (click)="setCourseAndSemester(+course.value, +semester.value)"
  >
    Выбрать
  </button>

  <h3>Староста: {{ headman || '' }}</h3>
  <h3>Зам-старосты: {{ deputyHeadman || '' }}</h3>

  <div class="sector" *ngFor="let item of getSectors(); let i = index">
    <!--    <div class="left">-->
    <!--      <h3>{{ item.sectorName }}</h3>-->
    <!--    </div>-->
    <div class="right">
      <p *ngFor="let st of item.data; let i = index">
        <span>{{ i + 1 }}. </span>{{ st.FIO }} <strong> - </strong> {{ st.text }}
      </p>
    </div>
  </div>
</div>
<button mat-button (click)="saveToXml()">Сохранить в Excel</button>

