<h1>Справка</h1>

<p>Данное приложение предназначено для ведения журнала куратора.</p>
<p>Основные возможности:</p>
<ul>
  <li>Вести несколько студенческих групп</li>
  <li>Изменять, добавлять и удалять учащихся</li>
  <li>Редактировать информацию о группе и проводимых мероприятиях</li>
  <li>Просматривать детальную информацию об учащихся</li>
</ul>

<p>Для входа в систему необходимо выбрать тип пользователя и группу. При выборе администратора или группы '__' приложение будет работать со всем группами.</p>
<p>Взаимодействие с данными находиться в разделе "Меню/Модели данных".</p>
<p>Для просмотра детальной информации по интересующих пунктам необходимо войти в раздел "Меню/Формы" и выбрать нужную вам форму.</p>
<p>Элемент "Меню/Выйти" позволяет выйти из текущего сеанса и выбрать дургую группу/роль.</p>
