h1 {
  text-align: center;
}
h3 {
  margin: 5px;
}
.wrapper {
  background-color: #fff;
}

mat-form-field {
  margin-right: 10px;
  margin-left: 10px;
}

.sector {
  display: flex;
  padding: 30px;
  .left {
    width: 400px;
  }
  .right {
    width: 100%;
    p {
      padding: 5px 10px;

      span {
        font-weight: 500;
      }
    }
  }
}
